<div class="modal-header">
	<h3 class="modal-title" id="modal-title"><span class="fa fa-flag"></span> Rendirse</h3>
</div>
<div class="modal-body" id="modal-body">
	<p>Está a punto de darse por vencido. Si lo hace estará demostrando que su oponente es mejor que tú y que merece la victoria que le darás.</p>
	<p><strong>¿Estás seguro?</strong></p>
</div>
<div class="modal-footer">
	<button class="btn" type="button" ng-click="$ctrl.cancel()">Cancelar</button>
	<button class="btn btn-danger" type="button" ng-click="$ctrl.rendirse()">Rendirse</button>
</div>
