<div id="games">
	<div class="games-title d-flex justify-content-between">
		<h4>Partidas online</h4>
		<button ng-click="$ctrl.crearPartida(null)" type="button" class="btn btn-primary scale"><span class="fa fa-plus"></span>&nbsp; Crear partida
	</div>
	<div class="games">
		<table class="table">
			<thead class="thead-default text-center">
				<tr class="text-center">
					<th><span class="fa fa-clock-o"></span></th>
					<th># Id</th>
					<th><span class="fa fa-signal"></span> Nivel</th>
					<th><span class="fa fa-user"></span> Jugador 1</th>
					<th><span class="fa fa-user"></span> Jugador 2</th>
					<th><span class="fa fa-gamepad"></span> Acción</th>
				</tr>
			</thead>
			<tbody>
				<tr class="text-center" ng-class="{'game-mine': ($ctrl.userLogged.profile.uid == game.player1.uid || $ctrl.userLogged.profile.uid == game.player2.uid)}" ng-repeat="game in $ctrl.gamesOnline | orderBy: '-date' track by game.id">
					<th><span class="hour">{{game.date | date : 'HH:mm:ss'}}</span></th>
					<th>{{game.id}}</th>
					<th>{{game.level}}</th>
					<td><img class="turn player-picture" ng-src="{{game.player1.picture}}">{{game.player1.name}}</td>
					<td><img class="turn player-picture" ng-src="{{game.player2.picture}}">{{game.player2.name}}</td>
					<td>
						<button ng-if="game.full==false" ng-click="$ctrl.crearPartida(game)" type="button" class="btn btn-success scale"><span class="fa fa-arrow-right"></span>
						<button ng-if="game.full==true" ui-sref="app.game({gameId:game.id})" type="button" class="btn btn-secondary scale"><span class="fa fa-eye"></span>
						<button ng-if="$ctrl.userLogged.profile.uid == game.player1.uid || $ctrl.userLogged.profile.uid == game.player2.uid" ng-click="$ctrl.modalDeleteGame(game.id, game.player1.uid, game.player2.uid)" type="button" class="btn btn-danger scale trash"><span class="fa fa-trash-o"></span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
