<div id="games">
	<div class="games-title row">
		<h4 class="col-lg-3">Partidas online</h4>
		<div class="input-group col-lg-6">
			<input type="text" class="form-control busqueda" placeholder="Buscar..." ng-model="$ctrl.busqueda" aria-describedby="basic-addon1" ng-change="$ctrl.actualizarArray()" ng-list=",">
		</div>
		<div class="crear-partida col-lg-3 d-flex justify-content-end">
			<button ng-click="$ctrl.crearPartida(null)" type="button" class="btn btn-primary scale"><span class="fa fa-plus"></span>&nbsp; Crear partida
		</div>
	</div>
	<div class="games">
		<table class="table">
			<thead class="thead-default text-center" ng-init="$ctrl.orderByPropiedad='date';
			$ctrl.cabeceras=[{span:'fa-clock-o',text:'Hora',id:'date'},
			{span:'fa-hashtag',text:' Id',id:'id'},	{span:'fa-signal',text:' Nivel',id:'level'},{span:'fa-user',text:' Jugador 1',id:'player1'},
			{span:'fa-user',text:' Jugador 2',id:'player2'}]">
				<tr class="text-center">
					<th class="cabeceras" ng-repeat="cabecera in $ctrl.cabeceras" ng-click="$ctrl.orderByPropiedad == cabecera.id ? $ctrl.orderReverse = !$ctrl.orderReverse : $ctrl.orderReverse = false; $ctrl.reverse=$ctrl.orderReverse ? '-':''; $ctrl.orderByPropiedad=cabecera.id" ng-class="$ctrl.orderByPropiedad != cabecera.id ? '' : 'cabecera-active'">
						<span class="fa {{cabecera.span}}"></span> {{cabecera.text}}
						<span class="glyphicon" ng-class="$ctrl.orderByPropiedad != cabecera.id ? 'fa fa-sort' : ($ctrl.orderReverse ? 'fa fa-sort-desc' : 'fa fa-sort-asc')"></span></th>
					<th><span class="fa fa-gamepad"></span> Acción</th>
				</tr>
			</thead>
			<tbody class="tbody">
				<tr class="text-center fila" ng-class="{'game-mine': ($ctrl.userLogged.profile.uid == game.player1.uid || $ctrl.userLogged.profile.uid == game.player2.uid)}" ng-repeat="game in $ctrl.gamesOnlineFiltrado | orderBy: ($ctrl.reverse + $ctrl.orderByPropiedad) track by game.id">
					<th ui-sref="app.game({gameId:game.id})"><span class="hour">{{game.date | date : 'd MMM, HH:mm'}}</span></th>
					<th ui-sref="app.game({gameId:game.id})" class="cabeceras">{{game.id}}</th>
					<th ui-sref="app.game({gameId:game.id})">{{game.level}}</th>
					<td ui-sref="app.game({gameId:game.id})"><img class="turn player-picture" ng-src="{{game.player1.picture}}">{{game.player1.name}} (<span class="moves-game">{{game.player1.moves}})</span></td>
					<td ui-sref="app.game({gameId:game.id})"><img class="turn player-picture" ng-src="{{game.player2.picture}}">{{game.player2.name}} (<span class="moves-game">{{game.player2.moves}})</span></td>
					<td class="d-flex justify-content-center acciones">
						<div class="div-btn-games">
							<button ng-if="game.full==false" ng-click="$ctrl.crearPartida(game)" type="button" class="btn btn-success scale"><span class="fa fa-arrow-right"></span>
							<button ng-if="game.full==true" ui-sref="app.game({gameId:game.id})" type="button" class="btn btn-secondary scale"><span class="fa fa-eye"></span>
						</div>
						<div class="div-btn-games">
							<button ng-if="$ctrl.userLogged.profile.uid == game.player1.uid || $ctrl.userLogged.profile.uid == game.player2.uid" ng-click="$ctrl.modalDeleteGame(game.id, game.player1.uid, game.player2.uid)" type="button" class="btn btn-danger scale trash"><span class="fa fa-trash-o"></span>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
