<div class="main-container">
	<header class="header bg_light_grey">
		<div class="container">
			<nav class="navbar d-flex flex-row justify-content-start align-items-center">
				<img src="app/img/logo.png" width="30" height="30" class="logo" alt="">
				<h2 class="header-title" id="header-title"></h2>
				<div class="log-buttons d-flex ml-auto">
					<a ng-click="$ctrl.signIn()" id="btn-signIn" class="nav-links">Login &nbsp;<span class="fa fa-sign-in"></span></a>
					<a ng-click="$ctrl.signOut()" id="btn-signOut" class="nav-links">Cerrar sesión &nbsp;<span class="fa fa-sign-out"></span></a>
				</div>
			</nav>
		</div>
	</header>
	<main class="main">

		<div class="game">
			<div id="player1">
			</div>

			<div id="player2">
			</div>
		</div>

	</main>
	<footer class="footer">

	</footer>
</div>
