<div class="main-container">
	<header class="header bg_light_grey">
		<div class="container">
			<nav class="navbar d-flex flex-row justify-content-start align-items-center">
				<a ui-sref="app({game:undefined})" class="animated infinite jellos">
					<img src="app/img/logo.png" width="30" height="30" class="logo" alt="">
				</a>
				<a class="header-title" ui-sref="app({game:undefined})">Hanoi</a>
				<div class="log-buttons d-flex ml-auto" ng-if="$ctrl.stateParams.log==true">
					<a ng-click="$ctrl.signOut()" id="btn-signOut" class="nav-links">Cerrar sesión </a>
					<img id="log-player1-picture" class="turn player-picture" ng-src="{{$ctrl.userLogged.profile.picture}}">
				</div>
			</nav>
		</div>
	</header>
	<main class="main" class="d-flex">

		<div id="logIn" class="logIn bg_light_grey" ng-if="$ctrl.stateParams.log==false">
			<div class="d-flex flex-column align-items-center">
				<h3>Inicia sesión</h3>
				<button ng-click="$ctrl.signIn('t')" type="button" class="btn btn-primary btn-lg btn-block bg_twitter">
					<span class="fa fa-twitter"></span>&nbsp; Twitter
				<button ng-click="$ctrl.signIn('g')" type="button" class="btn btn-primary btn-lg btn-block bg_google">
					<span class="fa fa-google"></span>&nbsp; Google
			</div>
		</div>

		<div id="game" ng-show="$ctrl.stateParams.log==true && $ctrl.stateParams.game!=null">
			<div class="game d-flex flex-row">

				<div id="player1" class="player">
					<div class="title-player d-flex justify-content-center align-items-center">
						<img id="player1-picture" class="turn player-picture" src="{{$ctrl.player1.picture}}">
						<h3 id="player1-name">{{$ctrl.player1.name}}</h3>
					</div>
					<div id="player1-canvas" class="canvas">

					</div>
					<nav id="controlls" class="controls text-center">
						<button id="accion1" class="btn scale">Coger
						<button id="accion2" class="btn scale">Coger
						<button id="accion3" class="btn scale">Coger
					</nav>
				</div>

				<div id="player2" class="player">
					<div class="title-player d-flex justify-content-center align-items-center">
						<img id="player2-picture" class="turn player-picture" src="{{$ctrl.player2.picture}}">
						<h3 id="player2-name">{{$ctrl.player2.name}}</h3>
					</div>
					<div id="player2-canvas" class="canvas">

					</div>
				</div>
			</div>
		</div>

		<div id="games" ng-if="$ctrl.stateParams.log==true && $ctrl.stateParams.game==null">
			<div class="games-title d-flex justify-content-between">
				<h4>Partidas online</h4>
				<button ng-click="$ctrl.crearPartida($ctrl.generarIdGame(), 'crear')" type="button" class="btn btn-primary scale"><span class="fa fa-plus"></span>&nbsp; Crear partida
			</div>
			<div class="games">
				<table class="table">
					<thead class="thead-default">
						<tr>
							<th width="50" class="text-center">Hora</th>
							<th># Id</th>
							<th>Jugador 1</th>
							<th>Jugador 2</th>
							<th>Unirse / Ver</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="game in $ctrl.gamesOnline | orderBy: '-date'">
							<th><span class="hour">{{game.date | date : 'HH:mm:ss'}}</span></th>
							<th>{{game.id}}</th>
							<td><img class="turn player-picture" ng-src="{{game.player1.picture}}">{{game.player1.name}}</td>
							<td><img class="turn player-picture" ng-src="{{game.player2.picture}}">{{game.player2.name}}</td>
							<td>
								<button ng-if="game.full==false" ng-click="$ctrl.crearPartida(game.id, 'unir')" type="button" class="btn btn-success scale"><span class="fa fa-arrow-right"></span>
								<button ng-if="game.full==true" ng-click="$ctrl.crearPartida(game.id, 'ver')" type="button" class="btn btn-secondary scale"><span class="fa fa-eye"></span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</main>
	<footer class="footer bg_grey">
		<a class="footer-github" target="_blank" href="https://github.com/aledroner/hanoi-multijugador">
		<span class="fa fa-chevron-left"></span>
		<span class="fa fa-chevron-right"></span>
		<span class="footer-text"> con </span>
		<span class="fa fa-heart"></span>
		<span class="footer-text"> por </span>
		<span class="fa fa-github"></span></a>
	</footer>

</div>
