// app/_variables.scss

// Greys
$black: #000;
$darker_grey: #222;
$dark_grey: #373737;
$grey: #555;
$ligth_grey: #ddd;
$ligther_grey: #f7f7f7;
$white: #fff;

// Colors
$main_color: #70b18f;
$secondary_color: #b17092;
$tertiary_color: #c0d2c9;
