@import 'variables';

#root,
body,
html {
	margin: 0;
	height: 100%;
	color: $grey !important;
	font-family: 'Roboto', 'Open Sans', sans-serif;
}

body,
h1,
h2,
h3 {
	font-weight: 300;
}

a {
	color: white;
	text-decoration: none;

	&:hover {
		color: #5aadbb;
	}
}
/* $Header
 -------------------------*/
.header {
	font-size: 1em;

	.logo {
		margin-right: 1.4em;
	}

	.header-title {
		text-transform: capitalize;
	}

	.navbar {
		a {
			display: block;
			padding: 0.5em 0.8em;

			&.nav-links {
				border-width: 0;
				border-top-width: 3px;
				border-bottom-width: 3px;
				border-color: transparent;
				border-style: solid;
				transition: all 0.2s;
				cursor: pointer;
			}

			&:hover {
				color: $black !important;
				border-bottom-color: lighten($main_color, 20);
			}
		}
	}
}
/* $Main
 -------------------------*/
.main-container {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 3em 2em;

	.game {
		.player {
			width: 50%;

			.title-player {
				img {
					width: 42px;
					height: 42px;
					border-radius: 50%;
					border: 2px solid $ligth_grey;
				}

				h3 {
					margin: 0 0 0 0.3em;
				}
			}

			&:first-child {
				border-right: 1px solid $ligth_grey;
			}

			.canvas {
				height: 300px;
			}

			.controls button {
				width: 100px;
				margin: 0 1.3em;
				cursor: pointer;
				transition: all 0.1s;

				&:hover {
					background-color: darken($ligth_grey, 10);
					transform: scale(1.05);
				}
			}
		}
	}
}
/* $LogIn
 -------------------------*/
.logIn {
	padding: 3em;
	width: 400px;
	border: 1px solid $ligth_grey;
	border-radius: 0.4em;
	margin: 0 auto;

	h3 {
		margin-bottom: 1em;
	}

	.btn {
		position: relative;
		margin: 0.5em 0;
		font-size: 1.6em;
		padding: 0.8em;
		border: none;
		outline: 0;
		cursor: pointer;
		border-radius: 2px;

		&:active {
			top: 3px;
		}

		&.bg_twitter {
			box-shadow: 0 3px 0 darken($twitter, 10);

			&:active {
				box-shadow: none;
			}
		}

		&.bg_google {
			box-shadow: 0 3px 0 darken($google, 20);

			&:active {
				box-shadow: none;
			}
		}
	}
}
/* $Auxiliar
 -------------------------*/
.bg_main_color {
	background-color: $main_color;
}

.bg_main_color {
	background-color: lighten($main_color, 15);
}

.bg_secondary_color {
	background-color: $secondary_color;
}

.bg_secondary_color {
	background-color: lighten($secondary_color, 15);
}

.bg_tertiary_color {
	background-color: $tertiary_color;
}

.bg_light_grey {
	background-color: $ligther_grey;
}

.bg_twitter {
	background-color: $twitter !important;

	&:hover {
		background-color: darken($twitter, 3) !important;
	}
}

.bg_google {
	background-color: $google !important;

	&:hover {
		background-color: darken($google, 8) !important;
	}
}

.active {
	font-weight: 500;
	border-bottom-color: $main_color !important;
}

.jellos:hover {
	-webkit-animation-name: jello;
	animation-name: jello;
	-webkit-transform-origin: center;
	transform-origin: center;
}
