@import 'variables';

#root,
body,
html {
	margin: 0;
	height: 100%;
	color: $grey !important;
	font-family: 'Roboto', 'Open Sans', sans-serif;
}

body,
h1,
h2,
h3 {
	font-weight: 300;
}

a {
	color: white;
	text-decoration: none;

	&:hover {
		color: #5aadbb;
	}
}
/* $Header
 -------------------------*/
.header {
	font-size: 1em;

	.logo {
		margin-right: 1.4em;
	}

	.header-title {
		text-transform: capitalize;
	}

	.navbar {
		a {
			display: block;
			padding: 0.5em 0.8em;

			&.nav-links {
				border-width: 0;
				border-top-width: 3px;
				border-bottom-width: 3px;
				border-color: transparent;
				border-style: solid;
				transition: all 0.2s;
				cursor: pointer;
			}

			&:hover {
				color: $black !important;
				border-bottom-color: lighten($main_color, 20);
			}
		}
	}
}
/* $Main
 -------------------------*/
.main-container {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 1em;

	.game {
		padding: 2em 0;

		.player {
			width: 50%;

			.title-player {
				img {
					width: 42px;
					height: 42px;
					border-radius: 50%;
					border: 2px solid $ligth_grey;
				}
				h3 {
					margin: 0 0 0 .3em;
				}
			}

			&:first-child {
				border-right: 1px solid $ligth_grey;
			}

			.canvas {
				height: 300px;
			}

			.controls button {
				width: 100px;
				margin: 0 1.3em;
				cursor: pointer;
				transition: all 0.1s;

				&:hover {
					background-color: darken($ligth_grey, 10);
					transform: scale(1.05);
				}
			}
		}
	}
}
/* $Auxiliar
 -------------------------*/
.bg_main_color {
	background-color: $main_color;
}

.bg_main_color {
	background-color: lighten($main_color, 15);
}

.bg_secondary_color {
	background-color: $secondary_color;
}

.bg_secondary_color {
	background-color: lighten($secondary_color, 15);
}

.bg_tertiary_color {
	background-color: $tertiary_color;
}

.bg_light_grey {
	background-color: $ligther_grey;
}

.active {
	font-weight: 500;
	border-bottom-color: $main_color !important;
}
